<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="path/to/chartjs/dist/Chart.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
        <title>RestoGO!</title>
    </head>
    <body>
        <%- include("navbar.ejs")%>
        <br>
        <br>
        <br>
        <center>
            <h2>Most Favorite Food in RestoGO!</h2>
        <canvas id="myChart" width="400" height="400">RestoGO!</canvas>
        <script>
                // Get the context of the canvas element we want to select
          
          var data = [
              {
                  value: 20,
                  color:"#F7464A",
                  highlight: "#FF5A5E",
                  label: "Bakso"
              },
              {
                  value: 10,
                  color: "#46BFBD",
                  highlight: "#5AD3D1",
                  label: "Mie Goreng"
              },
              {
                  value: 30,
                  color: "#FDB45C",
                  highlight: "#FFC870",
                  label: "Nasi Goreng"
              },
              {
                  value: 15,
                  color: "#949FB1",
                  highlight: "#A8B3C5",
                  label: "Rawon"
              },
              {
                  value: 25,
                  color: "#4D5360",
                  highlight: "#616774",
                  label: "Soto"
              }
          
          ];
          
          var ctx = document.getElementById("myChart").getContext("2d");
          var myNewChart = new Chart(ctx).PolarArea(data);
          
        </script>
        </center>
    </body>
</html>