<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>RestoGO!</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%;
            }
            
            td, th {
                border-bottom: 1px solid #ddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:hover {
                background-color: gainsboro;
            }
        </style>
    </head>
    <body>
            <%- include("../navbar.ejs") %>
            <center>
            <h2>List Cashier</h2>
            <a href="/cashiers/add" class="btn btn-info"> add cashier</a>
            <br>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
                <% for(let i = 0; i < dataCashier.length; i++){%>
                <tr>
                    <td><%= dataCashier[i].id %></td>
                    <td><%= dataCashier[i].username %></td>
                    <td><a href="/cashiers/delete/<%= dataCashier[i].id %>" onclick="deleteData()" class="btn btn-danger">delete</a></td>
                </tr>
                <%}%>
            </table>
            </center>
    </body>
    <script>
        function deleteData() {
            // alert("are you sure want to delete this student ?");
            var txt;
            var r = confirm("Your Data Deleted!");
        }
    </script>
</html>