<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>RestoGO!</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%;
            }
            
            td, th {
                border-bottom: 1px solid #ddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:hover {
                background-color: gainsboro;
            }
        </style>
    </head>
    <body>
            <%- include("../navbar.ejs")%>
            <br>
            <br>
            <br>
        <center>
            <h4>Add Customer</h4>
            <form action="/customers/add" method="POST">
                <label for="name">Name: </label>
                <input type="text" name="name" id="">
                <br>
                <label for="money">Money: </label>
                <input type="text" name="money" id="">
                <br>
                <br>
                <button type="submit" class="btn btn-info">add Customer</button>
            </form>
        </center>
    </body>
</html>